
{% extends "layout.njk"%}

 
    {%  block head %}
<title>Sobre - Leandro Santos</title>
    {% endblock %}

  
{% block content%}
    <div id="wrapper">
      <img
        src="https://avatars0.githubusercontent.com/u/48134318?s=460&u=1ab8aefde787685c5913a792411c4c6f4d17aba8&v=4"
        alt="Leandro Santos"
      />
      <h1>Leandro Santos</h1>

      <h2>Programador Web</h2>
    </div>

    <div id="links-footer" class="links">
      <a href="https://github.com/LHSApp" target="_blank" rel="noopener">Github</a>

      <a href="https://www.instagram.com/leandro.h.santos/" target="_blank" rel="noopener">Instagram</a>

      <a href="/" target="_blank" rel="noopener">Contato</a>
    </div>

    {% endblock%}


