<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <link rel="stylesheet" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <title>Leandro Santos</title>
</head>

<body>
  <header>
    <div class="links">
      <a href="/">Sobre</a>

      <a href="/">Portfólio</a>
    </div>
  </header>

  <div id="wrapper">
    <h1>Leandro Santos</h1>
  </div>

  <section class="cards">
    <div class="card" id="/1eSlvoO3Vw8">
      <div class="card_image-conteiner">
        <img src="https://img.youtube.com/vi/1eSlvoO3Vw8/mqdefault.jpg" alt="Leandro" />
      </div>
      <div class="card_content">
        <p>Nlw 1</p>
      </div>
      <div class="card_info">
        <p>Projeto</p>
        <p class="card_price">Free</p>
      </div>
    </div>

    <div class="card" id="/1eSlvoO3Vw8">
      <div class="card_image-conteiner">
        <img src="https://img.youtube.com/vi/1eSlvoO3Vw8/mqdefault.jpg" alt="Leandro" />
      </div>
      <div class="card_content">
        <p>Nlw 1</p>
      </div>
      <div class="card_info">
        <p>Projeto</p>
        <p class="card_price">Free</p>
      </div>
    </div>

    <div class="card" id="/1eSlvoO3Vw8">
      <div class="card_image-conteiner">
        <img src="https://img.youtube.com/vi/1eSlvoO3Vw8/mqdefault.jpg" alt="Leandro" />
      </div>
      <div class="card_content">
        <p>Nlw 1</p>
      </div>
      <div class="card_info">
        <p>Projeto</p>
        <p class="card_price">Free</p>
      </div>
    </div>

    <div class="card" id="/1eSlvoO3Vw8">
      <div class="card_image-conteiner">
        <img src="https://img.youtube.com/vi/1eSlvoO3Vw8/mqdefault.jpg" alt="Leandro" />
      </div>
      <div class="card_content">
        <p>Nlw 1</p>
      </div>
      <div class="card_info">
        <p>Projeto</p>
        <p class="card_price">Free</p>
      </div>
    </div>

    <div class="card" id="/1eSlvoO3Vw8">
      <div class="card_image-conteiner">
        <img src="https://img.youtube.com/vi/1eSlvoO3Vw8/mqdefault.jpg" alt="Leandro" />
      </div>
      <div class="card_content">
        <p>Nlw 1</p>
      </div>
      <div class="card_info">
        <p>Projeto</p>
        <p class="card_price">Free</p>
      </div>
    </div>

    <div class="card" id="/1eSlvoO3Vw8">
      <div class="card_image-conteiner">
        <img src="https://img.youtube.com/vi/1eSlvoO3Vw8/mqdefault.jpg" alt="Leandro" />
      </div>
      <div class="card_content">
        <p>Nlw 1</p>
      </div>
      <div class="card_info">
        <p>Projeto</p>
        <p class="card_price">Free</p>
      </div>
    </div>
  </section>



  


  <div class="modal-overlay ">

    <div class="modal">
      <a class="close-modal">

        <i class="material-icons">close</i>
      </a>

      <div class="modal-content">
        
      
        <iframe  src="" frameborder="0" > </iframe>

      </div>


    </div>
  </div>
  <script src="/Scripts/script.js"> </script>


</body>

</html>